<?xml version="1.0"?>

<model>
  <name>NASA's Lunar Surface Model</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
	  <name>EZRASSOR team</name>
	  <email>ez.rassor@gmail.com</email>
  </author>

  <description>A small chunk of NASA's lunar surface model</description>

</model>
