<?xml version="1.0"?>

<model>
  <name>DEM Mars</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
	  <name>EZRASSOR team</name>
	  <email>ez.rassor@gmail.com</email>
  </author>

  <description>
  A digital elevation model version from a section of Mars. 
  DEM Source: https://astrogeology.usgs.gov/search/map/Mars/Mars2020/JEZ_ctx_B_soc_008_DTM_MOLAtopography_DeltaGeoid_20m_Eqc_latTs0_lon0
  </description>

</model>
